{% extends 'public/index.html' %}
{% load staticfiles %}
{% block index %}

<div class="container">
	<div class="card-header"> The houses you have checked out </div>
	{% for house in lp_list %}
	<hr>
	<div class="row">
		<div class="col-sm-2">
			<div style="padding-bottom: 100%;position: relative;">
				<a href="{% url 'public:view_detail' house.id %}">
				<img src="{{ house.picture.photo.url }}" alt="..." class="img-thumbnail" style="height: 100%;position:absolute;">
				</a>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="display-house-address">
				{{house.address}}
			</div>
			<div class="display-house-name" style="white-space: inherit;">
				{{house.name}}
			</div>
		</div>
		<div class="col-sm">
			<div class="display-housr-date">
				{{house.period_start}} - {{house.period_end}}
			</div>
		</div>
		<div class="col-sm">
			<a href="{% url 'tenant:add_comm' house.id %}" class="btn btn-primary btn-mi" role="button" aria-pressed="true">Comment</a>
		</div>
	</div>
	{% endfor %}
</div>
<hr>
<div class="container">
	<div class="card-header"> The houses you have ordered </div>
	{% for house in lp_list_future %}
	<hr>
	<div class="row">
		<div class="col-sm-2">
			<div style="padding-bottom: 100%;position: relative;">
				<a href="{% url 'public:view_detail' house.id %}">
				<img src="{{ house.picture.photo.url }}" alt="..." class="img-thumbnail" style="height: 100%;position:absolute;">
				</a>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="display-house-address">
				{{house.address}}
			</div>
			<div class="display-house-name" style="white-space: inherit;">
				{{house.name}}
			</div>
		</div>
		<div class="col-sm">
			<div class="display-housr-date">
				{{house.period_start}} - {{house.period_end}}
			</div>
		</div>
	</div>
	<br>
	{% endfor %}
</div>
	

{% endblock %}