{% extends 'public/index.html' %}
{% load staticfiles %}
{% block index %}

<div class="container">
	<div class="row">
		<div class="col-sm">
			<!-- <div style="padding-bottom: 100%;position: relative;"> -->
				<img src="" alt="..." class="img-thumbnail">
				<!-- <img src="" alt="..." class="img-thumbnail" style="height: 100%;position:absolute;"> -->
				<!-- <img src="{{ house.picture.photo.url }}" alt="..." class="img-thumbnail" style="height: 100%;position:absolute;"> -->
		</div>
		<div class="col-sm">
			<div class="display-house-address">
				address
			</div>
			<div class="display-house-name">
				name
			</div>
		</div>
		<div class="col-sm">
			<div class="display-housr-date">
				mm/dd/yyyy - mm/dd/yyyyy
			</div>
		</div>
		<div class="col-sm">
			<a href="{% url 'tenant:add_comm' %}" class="btn btn-primary btn-mi" role="button" aria-pressed="true">Add Comment</a>
		</div>
	</div>
</div>

{% endblock %}