{% extends 'public/index.html' %}
{% load staticfiles %}
{% block index %}
<div class="form-group">
    <div class="form-group">
        <p class="text-center" style="font-size: 30px">Want House for 2 Months</p>
    </div><br>
    <div class="form-group row">
        <label class="col-3" style="color: grey">Rent Area</label>
        <label class="col-3">Single</label>
    </div>
    <div class="form-group row">
        <label class="col-3" style="color: grey">Desire Area</label>
        <label class="col-3">Zetland</label>
    </div>
    <div class="form-group row">
        <label class="col-3" style="color: grey">Contact Way</label>
        <label class="col-3">Wechat:04123234</label>
    </div>
    <div class="form-group row">
        <label class="col-3" style="color: grey">Description</label>
        <p class="col-9">The detail information of this house and what what what what what......</p>
    </div>
    <div class="form-group row">
        <label class="col-3" style="color: grey">Comment</label>
        <textarea class="form-control" rows="5" style="width: 75%"></textarea></div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger btn-lg" style="margin-left: 50%">Submit</button>
    </div>
     <div class="form-group"  id="comment_area"><hr>

            <div class="form-group row">
                <div style="width: 50px;height: 50px; border-radius:50px; overflow: hidden;">
                    <a href=""><img src="#" height="49" width="65" class="img-rounded"/></a>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div>
                    <label>Comment</label><br>
                    <label style="font-size: 5px">Comment</label>
                </div>
            </div>

            <p>Comment</p><hr>


        </div>
    </div>


</div>

{% endblock %}