{% extends 'public/index.html' %}
{% load staticfiles %}
{% block index %}
<div class="form-group">
    <div class="form-group">
        <p class="text-center" style="font-size: 30px"> {{ post.title }} </p>
    </div><br>
    <div style="margin:auto 5%">
        <div class="form-group row">
            <label class="col-3">Area</label>
            <label class="col-3">{{ post.area }}</label>
        </div>
        <div class="form-group row">
            <label class="col-3">Rooms</label>
            <label class="col-3">{{ post.no_of_rooms }}</label>
        </div>
        <div class="form-group row">
            <label class="col-3">Type</label>
            <label class="col-3">{{ post.rent_type }}</label>
        </div>
        <div class="form-group row">
            <label class="col-3">Description</label>
            <p class="col-9">{{ post.description }}</p>
        </div>
        <div class="form-group row">
            <label class="col-3">Name</label>
            <label class="col-3">{{ post.name }}</label>
        </div>
        <div class="form-group row">
            <label class="col-3">Email</label>
            <label class="col-3">{{ post.email }}</label>
        </div>
        <div class="form-group row">
            <label class="col-3">Mobile</label>
            <label class="col-3">{{ post.mobile }}</label>
        </div>
    </div>
</div>

{% endblock %}