<style>
	div .HandCursor {
		cursor: pointer /*change to hand style*/
	}
</style>

{% extends 'base.html' %}
{% block content %}

<div class="container">

	<h4>
		<div style="font-weight: 800;line-height: 30px;padding:2px 0px;">
			Homes around the world
		</div>
	</h4>

	<div class="row" style="margin-bottom: 15px">
		<div class="col-sm">
			<div class="HandCursor" onclick="window.location='http://localhost:8000/detail#';">
				<div>
					<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
				</div>
				<div>
					<div style="margin-top: 2px;font-size: 12px;line-height: 16px;font-weight: 800;color: rgb(83, 18, 16);">
						PRIVATE ROOM · PYRMONT
					</div>
					<div style="margin-top: 4px;line-height: 22px;font-weight: 800;">
						Sydney City & Harbour at the door
					</div>
					<div style="font-size: 14px;line-height: 18px;display: inline;">
						From $79 AUD per night
					</div>
					<div style="margin-top: 2px;">
						<span>stars</span>
						<span>number</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="HandCursor">
				<div>
					<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
				</div>
				<div>
					<div style="margin-top: 2px;font-size: 12px;line-height: 16px;font-weight: 800;color: rgb(83, 18, 16);">
						PRIVATE ROOM · PYRMONT
					</div>
					<div style="margin-top: 4px;line-height: 22px;font-weight: 800;">
						Sydney City & Harbour at the door
					</div>
					<div style="font-size: 14px;line-height: 18px;display: inline;">
						From $79 AUD per night
					</div>
					<div style="margin-top: 2px;">
						<span>stars</span>
						<span>number</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="HandCursor">
				<div>
					<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
				</div>
				<div>
					<div style="margin-top: 2px;font-size: 12px;line-height: 16px;font-weight: 800;color: rgb(83, 18, 16);">
						PRIVATE ROOM · PYRMONT
					</div>
					<div style="margin-top: 4px;line-height: 22px;font-weight: 800;">
						Sydney City & Harbour at the door
					</div>
					<div style="font-size: 14px;line-height: 18px;display: inline;">
						From $79 AUD per night
					</div>
					<div style="margin-top: 2px;">
						<span>stars</span>
						<span>number</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="HandCursor">
				<div>
					<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
				</div>
				<div>
					<div style="margin-top: 2px;font-size: 12px;line-height: 16px;font-weight: 800;color: rgb(83, 18, 16);">
						PRIVATE ROOM · PYRMONT
					</div>
					<div style="margin-top: 4px;line-height: 22px;font-weight: 800;">
						Sydney City & Harbour at the door
					</div>
					<div style="font-size: 14px;line-height: 18px;display: inline;">
						From $79 AUD per night
					</div>
					<div style="margin-top: 2px;">
						<span>stars</span>
						<span>number</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-bottom: 15px">
		<div class="col-sm">
			<div class="HandCursor">
				<div>
					<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
				</div>
				<div>
					<div style="margin-top: 2px;font-size: 12px;line-height: 16px;font-weight: 800;color: rgb(83, 18, 16);">
						PRIVATE ROOM · PYRMONT
					</div>
					<div style="margin-top: 4px;line-height: 22px;font-weight: 800;">
						Sydney City & Harbour at the door
					</div>
					<div style="font-size: 14px;line-height: 18px;display: inline;">
						From $79 AUD per night
					</div>
					<div style="margin-top: 2px;">
						<span>stars</span>
						<span>number</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="HandCursor">
				<div>
					<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
				</div>
				<div>
					<div style="margin-top: 2px;font-size: 12px;line-height: 16px;font-weight: 800;color: rgb(83, 18, 16);">
						PRIVATE ROOM · PYRMONT
					</div>
					<div style="margin-top: 4px;line-height: 22px;font-weight: 800;">
						Sydney City & Harbour at the door
					</div>
					<div style="font-size: 14px;line-height: 18px;display: inline;">
						From $79 AUD per night
					</div>
					<div style="margin-top: 2px;">
						<span>stars</span>
						<span>number</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="HandCursor">
				<div>
					<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
				</div>
				<div>
					<div style="margin-top: 2px;font-size: 12px;line-height: 16px;font-weight: 800;color: rgb(83, 18, 16);">
						PRIVATE ROOM · PYRMONT
					</div>
					<div style="margin-top: 4px;line-height: 22px;font-weight: 800;">
						Sydney City & Harbour at the door
					</div>
					<div style="font-size: 14px;line-height: 18px;display: inline;">
						From $79 AUD per night
					</div>
					<div style="margin-top: 2px;">
						<span>stars</span>
						<span>number</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="HandCursor">
				<div>
					<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
				</div>
				<div>
					<div style="margin-top: 2px;font-size: 12px;line-height: 16px;font-weight: 800;color: rgb(83, 18, 16);">
						PRIVATE ROOM · PYRMONT
					</div>
					<div style="margin-top: 4px;line-height: 22px;font-weight: 800;">
						Sydney City & Harbour at the door
					</div>
					<div style="font-size: 14px;line-height: 18px;display: inline;">
						From $79 AUD per night
					</div>
					<div style="margin-top: 2px;">
						<span>stars</span>
						<span>number</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}