{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 19px;
    overflow: hidden;

    smargin-top: 4px;
    line-height: 22px;
    max-height: 44px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word !important;
    font-size: 16px !important;
    /* line-height: 22px !important; */
    /* letter-spacing: normal !important; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    font-weight: 800 !important;

<div class="container">
  <div class="row">
    <div class="col-sm">
		<div>
			<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
		</div>
		<div>
			<div style="margin-top: 2px;font-size: 12px;line-height: 16px;">
				PRIVATE ROOM · PYRMONT
			</div>
			<div style="margin-top: 4px;">
				Sydney City & Harbour at the door
			</div>
			<div style="margin-top: 2px;font-size: 12px;line-height: 16px;">
				From $79 AUD per night
			</div>
			<div style="margin-top: 2px;">
				<span>stars</span>
				<span>number</span>
			</div>
		</div>
    </div>
    <div class="col-sm">
    	<div>
			<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
		</div>
		<div>
			<div>
				PRIVATE ROOM · PYRMONT
			</div>
			<div style="margin-top: 4px;">
				Sydney City & Harbour at the door
			</div>
			<div style="margin-top: 2px;">
				From $79 AUD per night
			</div>
			<div style="margin-top: 2px;">
				<span>stars</span>
				<span>number</span>
			</div>
		</div>
    </div>
    <div class="col-sm">
    	<div>
			<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
		</div>
		<div>
			<div>
				PRIVATE ROOM · PYRMONT
			</div>
			<div style="margin-top: 4px;">
				Sydney City & Harbour at the door
			</div>
			<div style="margin-top: 2px;">
				From $79 AUD per night
			</div>
			<div style="margin-top: 2px;">
				<span>stars</span>
				<span>number</span>
			</div>
		</div>
    </div>
        <div class="col-sm">
		<div>
			<img src="./static/image/HOUSE.jpg" alt="..." class="img-thumbnail">
		</div>
		<div>
			<div>
				PRIVATE ROOM · PYRMONT
			</div>
			<div style="margin-top: 4px;">
				Sydney City & Harbour at the door
			</div>
			<div style="margin-top: 2px;">
				From $79 AUD per night
			</div>
			<div style="margin-top: 2px;">
				<span>stars</span>
				<span>number</span>
			</div>
		</div>
    </div>
  </div>
</div>

{% endblock %}