{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div class="form-group" style="margin-left:25%;">

    <div class="form-group row" style="margin:  auto">
        <div class="col-sm-4 col-form-label">
            <label>Username</label>
        </div>
        <div class="col-6 col-form-label">
            <label>atobeclaq@gmail.com</label>
        </div>

    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>Email Address</label>
        </div>
        <div class="col-6 col-form-label">
            <label>atobeclaq@gmail.com</label>
        </div>
    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>Gender</label>
        </div>
        <div class="col-6 col-form-label">
            <label>Female</label>
        </div>
    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>Profile</label>
        </div>
       <div class="col-6 col-form-label">
            <label>I am Groot</label>
        </div>
    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>House Info</label>
        </div>
       <div class="col-6 col-form-label">
            <a href="#">Link</a>
        </div>
    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>Histroy</label>
        </div>
       <div class="col-6 col-form-label">
            <a href="#">Link</a>
        </div>
    </div>

</div>


{% endblock %}