{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div class="form-group" style="margin-left:25%;">

    <div class="form-group row" style="margin:  auto">
        <div class="col-sm-4 col-form-label">
            <label>Username</label>
        </div>
        <div class="col-6 col-form-label">
            <label>{{ user.username }}</label>
        </div>
    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>Email Address</label>
        </div>
        <div class="col-6 col-form-label">
            <label>{{ user.email }}</label>
        </div>
    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>Gender</label>
        </div>
        {% if user.gender == F %}
        <div class="col-6 col-form-label">
            <label>Female</label>
        </div>
        {% else %}
        <div class="col-6 col-form-label">
            <label>Male</label>
        </div>
        {% endif %}           
    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>Reputation</label>
        </div>
        <div class="col-6 col-form-label">
            {% if user_rate == 0 %}
            <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
            {% endif %}
            {% if user_rate == 1 %}
            <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
            {% endif %}
            {% if user_rate == 2 %}
            <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
            {% endif %}
            {% if user_rate == 3 %}
            <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
            {% endif %}
            {% if user_rate == 4 %}
            <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon>
            {% endif %}
            {% if user_rate == 5 %}
            <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
            {% endif %} 
        </div>
    </div>
    <div class="form-group row" style="margin: auto">
         <div class="col-sm-4 col-form-label">
            <label>Profile</label>
        </div>
        <div class="col-6 col-form-label">
            <label>{{ user.profile }}</label>
        </div>
    </div>

</div>


{% endblock %}