{% extends 'base.html' %}
{% block content %}
{% load staticfiles%}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<div style="margin:0 auto;width:40%;">
    <form >
        <div class="form-group row" >
           <label for="name" class="col-sm-2 col-form-label">WHERE</label>
           <div class="col-sm-10" >
               <input   type="text" class="form-control" id="name"  placeholder="Sydney">
           </div>
       </div>
            <br>
       <div class="form-row">
           <div class="form-group col-sm-6">
                <label for="check_in">CHECK IN</label>
                <input type="text" class="form-control" id="check_in"  placeholder="dd-mm-yyyy">
           </div>
           <div class="form-group col-sm-6" >
               <label for="check_out" >CHECK OUT</label>
               <input type="text" class="form-control" id="check_out"  placeholder="dd-mm-yyyy">
           </div>

       </div>
            <br>
       <div class="form-group row">
            <label for="Adult" class="col-sm col-form-label">ADULT</label>
            <div class="col-sm">
				<input type="number" min="1" max="6" class="form-control" id="Adult" value="1">
			</div>

           <label for="Children" class="col-sm col-form-label">CHILDREN</label>
           <div class="col-sm">
				<input type="number" min="0" max="6" class="form-control" id="Children" value="0">
			</div>
       </div>
       <div style="margin:0 auto">
           <button type="submit" class="btn btn-primary btn-lg" style="width: 50%;margin: 10px 25%;">
               <span>Search</span></span>
           </button>
       </div>
   </form>
</div>

  <script type="text/javascript">
    $(".check_in").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script>

{% endblock %}
