{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div id="image_area">

</div>

<div id="Detail_Page" class="form-group row" >
    <div class="col-8" id="bro">

        <div style="padding-left:10%;padding-right: 10%;">
            <div id="article_detail" class="form-group" style="font-size: 25px">
                <div>
                    <label style="font-weight: bold;font-size: small;color:red">ENTIRE APARTMENT</label>
                </div>
                <div>
                    <label style=" font-weight: bold">{{ house_name }}</label>
                </div>
                <div>
                    <label href="#" style="font-size: small">{{house_address}}</label>
                </div>
                <div style="font-size: small">
                    <ion-icon name="contacts"></ion-icon><label>{{guests_num}} guests</label>
                    <ion-icon name="home"></ion-icon><label>{{bedrooms_num}} bedroom </label>
                    <ion-icon name="bed"></ion-icon><label>{{beds_num}} bed</label>
                    <ion-icon name="water"></ion-icon><label>{{baths_num}} bath</label>
                </div>
            </div>

           <!-- <form>
                <div style="padding-left: 4%; border-style: solid;border-color: grey; font-size: small" >
                    <br>

                    <label style="color: dimgrey;">HOME HIGHLIGHTS</label><br>
                    <label style="font-weight: bold">Quick responses</label><br>
                    <label style=" color:slategrey; ">· 9 recent guests said this host responded quickly.</label><br>

                    <label style=" font-weight: bold">Great communication</label><br>
                     <label style=" color:slategrey;">· 100% of recent guests gave this host a 5-star rating for communication.</label><br>

                     <label style=" font-weight: bold">Great location</label><br>
                     <label style=" color:slategrey;"> · 100% of recent guests gave this home’s location a 5-star rating.</label><br>


                </div>
            </form>-->

            <div id="myarticle" class="form-group">
                <label style="font-size: 15px" id="CC">{{house_profile}}</label><br><br>
                <a  href="#" id="btn" > READ MORE </a><br>
            </div >


            <div>
                <a href="#" > CONTACT HOST</a><hr>

            </div>


            <div class="form-group" id="con2" >
                <div>
                    <label style="font-weight: bold;font-size: 25px">Amenities</label>
                </div>

                <div class="col-sm-13 row" style="font-size: 15px">
                    {% if house_parking >= 1 %}
                    <div class="col-sm-6">
                        <ion-icon name="car"></ion-icon>
                        <label>Free parking on premises</label>
                    </div>
                    {% endif %}

                    {% if house_washer %}
                    <div class="col-sm-6">
                        <i class="ion-knife"></i>
                        <label>washer</label>
                    </div>
                    {% endif %}

                    {% if house_fridge %}
                    <div class="col-sm-6">
                        <i class="ion-knife"></i>
                        <label>fridge</label>
                    </div>
                    {% endif %}

                    {% if house_kitchen %}
                    <div class="col-sm-6">
                        <i class="ion-knife"></i>
                        <label>Kitchen</label>
                    </div>
                    {% endif %}

                    {% if house_tv %}
                    <div class="col-sm-6">
                        <ion-icon name="tv"></ion-icon>
                        <label>TV</label>
                    </div>
                    {% endif %}

                    {% if house_conditioner %}
                    <div class="col-sm-6">
                        <i class="ion-ios-snowy"></i>
                        <label>Air conditioning</label>
                    </div>
                    {% endif %}

                    {% if house_wifi %}
                    <div class="col-sm-6">
                        <i class="ion-wifi"></i>
                        <label>Wireless Internet</label>
                    </div>
                    {% endif %}

                    {% if house_studyromm %}
                    <div class="col-sm-6">
                        <ion-icon name="laptop"></ion-icon>
                        <label>Laptop friendly workspace</label>
                    </div>
                    {% endif %}

                </div><br>

                <a id ="btn1" href="#"> Show All </a>

                <br><hr>
            </div >

            <div class="form-group">

                <span style="font-weight: bold;font-size: 25px">Policies<br></span>
                <span style="font-weight: bold;font-size: 15px">House Rules<br></span>
                <span id = "con3" style="font-size: 18px">{{house_rule}} Not suitable for children and infants<br>
                No smoking<br>
                No pets<br>
                No parties or events<br>
                Check-in is anytime after 2PM<br>
                Check out by 11AM</span><br><BR>
                <a id ="btn2" href="#"> READ ALL RULES </a><br><br><hr>
            </div>
             <div class="form-group">

                <span style="font-weight: bold;font-size: 25px">Cancellations<br></span>
                <span style="font-weight: bold;font-size: 15px;">{{house_cancellation}}Moderate - Free cancellation for 48 hours<br></span>
                <span id = "con4" style="font-size: 15px">Moderate - Free cancellation for 48 hours</span><br><BR>
                <a id ="btn3" href="#"> READ MORE ABOUT POLICIES </a><br><br><hr>
            </div>
            <div>
                <label style="font-weight: bold; font-size:25px">51 Reviews</label>
                {% if house_reviews == 0 %}
                <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_reviews == 1 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_reviews == 2 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_reviews == 3 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_reviews == 4 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_reviews == 5 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                {% endif %}
                <br>
                <label style="font-weight: bold; font-size: 25px;" >Search</label>
                <input class="form-control"  id="search" placeholder="Search something"><br><hr>
            </div>
            <div>
                <label style=" font-size:15px ; width: 20%;">Accuracy</label>&nbsp;&nbsp;&nbsp;
                {% if house_accuracy == 0 %}
                <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_accuracy == 1 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_accuracy == 2 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_accuracy == 3 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_accuracy == 4 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_accuracy == 5 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style=" font-size:15px ; width: 20%;">Location</label>&nbsp;&nbsp;&nbsp;
                {% if house_location == 0 %}
                <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_location == 1 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_location == 2 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_location == 3 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_location == 4 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_location == 5 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><br>
                {% endif %}
                <label style=" font-size:15px ; width: 20%;">Communication</label>&nbsp;&nbsp;&nbsp;
                {% if house_communication == 0 %}
                <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_communication == 1 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_communication == 2 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_communication == 3 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_communication == 4 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_communication == 5 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style=" font-size:15px ; width: 20%;">Check-in</label>&nbsp;&nbsp;&nbsp;
                {% if house_checkin == 0 %}
                <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_checkin == 1 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_checkin == 2 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_checkin == 3 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_checkin == 4 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_checkin == 5 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><br>
                {% endif %}
                 <label style=" font-size:15px ; width: 20%;">Cleanliness</label>&nbsp;&nbsp;&nbsp;
                {% if house_cleanliness == 0 %}
                <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_cleanliness == 1 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_cleanliness == 2 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_cleanliness == 3 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_cleanliness == 4 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon>
                {% endif %}
                {% if house_cleanliness == 5 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style=" font-size:15px ; width: 20%;">Value</label>&nbsp;&nbsp;&nbsp;
                {% if house_value == 0 %}
                <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_value == 1 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_value == 2 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_value == 3 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_value == 4 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><br>
                {% endif %}
                {% if house_value == 5 %}
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><br>
                {% endif %}
            </div>
        </div>
         <div class="form-group">

         </div>
    </div>

    <!-- <div class="col-6" id="child" style="position: fixed; margin-left: 50%;height:100%;overflow:scroll;" > -->
    <div class="col-4" id="child" style="position: fixed; margin-left: 65%;" >
        <div  class="col-sm-2" >
            <div  style="margin:1% auto;max-width: 300px;min-width: 300px;min-height: 200px;max-height: 300px">
                <form >
                    <div class="form-group ">

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="check_in">CHECK IN</label>
                                <input type="text" class="form-control" id="check_in" data-provide="datepicker" placeholder="dd/mm/yyyy">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="check_out">CHECK OUT</label>
                                <input type="text" class="form-control" id="check_out" data-provide="datepicker" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group row">
                                <label for="Adult" class="col-sm col-form-label">Adult</label>
                                <div class="col-sm">
                                    <input type="number" min="1" max="6" class="form-control" id="Adult" value="1">
                                </div>
                                <label for="Children" class="col-sm col-form-label">Children</label>
                                <div class="col-sm">
                                    <input type="number" min="0" max="6" class="form-control" id="Children" value="0">
                                </div>
                            </div>
                        </div><hr>
                <div class="form-group">
                    <label>Changing Fee</label><a href=""><ion-icon name="help"></ion-icon></a>
                    <span class="text-right float-right" >$70.00</span><hr>
                </div>
                <div  class="form-group">
                    <label>Service fee</label><a href=""><ion-icon name="help"></ion-icon></a>
                    <span class="text-right float-right" >$70.00</span><hr>
                </div>
                <div  class="form-group">
                     <label style="font-weight: bold">Total</label><a href=""><ion-icon name="help"></ion-icon></a>
                    <span class="text-right float-right" >$70.00</span><hr>
                </div>
                <div  class="form-group">
                    <button type="submit" class="btn btn-danger" style="width: 50%;margin: 10px 25%;">Book</button>

                </div>
                <div class="form-group">
                    <p class="text-center" style="font-size:15px;color: slategrey">Price shown is the total trip price, including additional fees and taxes.</p>
                </div>



                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script type="text/JavaScript">

    var btn=document.getElementById('btn');
    var content=document.getElementById('CC');
    var str=content.innerHTML;
    var btn1=document.getElementById('btn2');
    var content1=document.getElementById('con3');
    var str1=content1.innerHTML;
    var btn2=document.getElementById('btn3');
    var content2=document.getElementById('con4');
    var str2=content2.innerHTML;
    var onOff = false;// true mean 'zhankai'
    content.innerHTML = str.substr(0,100)+"......";
    content1.innerHTML = str1.substr(0,100)+"......";
    content2.innerHTML = str2.substr(0,100)+"......";
    btn.onclick=function(){
        if(onOff) {
            content.innerHTML = str.substr(0,100)+"......";
            btn.innerHTML='READ MORE'
        } else {
           
            content.innerHTML = str
            btn.innerHTML = 'HIDE';
           }
        onOff=!onOff;
        return false;
       }
    btn1.onclick=function(){
        if(onOff) {
            content1.innerHTML = str1.substr(0,100)+"......";
            btn1.innerHTML='READ ALL RULES'
        } else {

            content1.innerHTML = str1
            btn1.innerHTML = 'HIDE RULES';
           }
        onOff=!onOff;
        return false;
       }
    btn2.onclick=function(){
        if(onOff) {
            content2.innerHTML = str2.substr(0,100)+"......";
            btn2.innerHTML='READ MORE ABOUT POLICES'
        } else {

            content2.innerHTML = str2
            btn2.innerHTML = 'HIDE POLICIES';
           }
        onOff=!onOff;
        return false;
       }



</script>

{% endblock %}