
{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div id="Detail_Page">
    <div id="phote" style="background:rebeccapurple">
        <image href="#"></image>
    </div>
    <div id="article_detail" style="padding-left: 2%">
        <label style="font-size: small ; font-weight: bold">ENTIRE APARTMENT</label>
        <br>
        <label style="font-size: large; font-weight: bold">Amazing City View Apt @ Olympic Park (English&中文)</label>
        <br>
        <label href="#" style="font-size: small">Sydney Olympic Park</label><br>
         <ion-icon name="contacts"></ion-icon><label style="font-size: small"> 4 guests</label>
        <ion-icon name="home"></ion-icon><label style="font-size: small">	1 bedroom </label>
        <ion-icon name="bed"></ion-icon><label style="font-size: small">1 bed</label>
        <ion-icon name="water"></ion-icon><label style="font-size: small">1 bath</label>
    </div>
    <form style=" padding-left: 2%;padding-right: 50%;">
        <div style="padding-left: 4%; border-style: solid;border-color: grey;" >
            <br>
            <label style="font-size: small;color: dimgrey;">HOME HIGHLIGHTS</label><br>
            <label style="font-size: small;font-weight: bold">Quick responses</label>
            <label style="font-size: small; color:slategrey; ">· 9 recent guests said this host responded quickly.</label><br>
            <label style="color: grey;font-size: small" href="#"> Helpful</label><ion-icon name="thumbs-up"></ion-icon>
            <label style="font-size: small; color: grey" href="#">· Not helpful</label><br>
            <label style="font-size: small; font-weight: bold">Great communication</label>
             <label style="font-size: small; color:slategrey;">· 100% of recent guests gave this host a 5-star rating for communication.</label><br>
            <label style="color: grey;font-size: small" href="#"> Helpful</label><ion-icon name="thumbs-up"></ion-icon>
            <label style="font-size: small; color: grey" href="#">· Not helpful</label> <br>
             <label style="font-size: small; font-weight: bold">Great location</label>
             <label style="font-size: small; color:slategrey;"> · 100% of recent guests gave this home’s location a 5-star rating.</label><br>
            <label style="color: grey;font-size: small" href="#"> Helpful</label><ion-icon name="thumbs-up"></ion-icon>
            <label style="font-size: small; color: grey" href="#">· Not helpful</label> <br><br>




        </div>
    </form>
    <div style="padding-left: 2%; padding-right: 50%">
         <label style="font-size: small">This spectacular east facing one-bedroom
                apartment at the iconic Australia Tower in the heart of Sydney Olympic Park,
                is featured with modern design, luxurious fittings and beautiful city view and park view.
                The apt located in the geographic centre of the Sydney metropolitan area, Sydney Olympic Park,
                Sydney's premier sports venue, concert, exhibition and trade show hub.
            </label>

        <span href="#" style="color:deepskyblue;"> Read More</span><br><br>
        <span href="#" style="color: deepskyblue;"> Contact Host</span><hr>
    </div>
    <div style="padding-left: 2%; padding-right: 50%">
        <label style="font-weight: bold; font-size: small">Amenities</label><br>
        <ion-icon name="car"></ion-icon><label style="font-size: small; width: 30%">Free parking on premises</label>

        <i class="ion-knife"></i><label style="font-size: small;">Kitchen</label><br>
        <i class="ion-android-arrow-up"></i><label style="font-size: small;width: 30%;">Lift</label>

        <i class="ion-ios-snowy"></i><label style="font-size: small">Air conditioning</label><br>
        <i class="ion-wifi"></i><label style="font-size: small;width: 30%;">Wireless Internet</label>

        <ion-icon name="laptop"></ion-icon><label style="font-size: small">Laptop friendly workspace</label><br>
        <span href="#" style="color:deepskyblue;">Show All</span><br><br><hr>



    </div >
    <div style="padding-left: 2%; padding-right: 50%">
        <label style="font-weight: bold; font-size: small">Sleeping arrangements</label>
        <table width="70%">
            <tr>
                <td width="35%">
        <div  style=" border-style: solid;border-color: lightgrey;">
            <ion-icon name="bed"></ion-icon><br><br><br>
            <label>Bedroom 1</label><br>
            <label>1 queen bed</label>
        </div>
                </td>
                <td width="35% ">
        <div style=" border-style: solid;border-color: lightgrey;">
            <i class="ion-social-octocat"></i><br><br><br>
            <label>Common spaces</label><br>
            <label>1 sofa bed</label>

        </div>
                </td>

            </tr>
        </table>
        <hr>
    </div>
    <div style="padding-left: 2%; padding-right: 50%">
        <label style="font-weight: bold; font-size:30px">51 Reviews</label>
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <label style="font-weight: bold; font-size: 30px;">Search</label>
        <input id="search" placeholder="Search something"><br><hr>
    </div>
    <div style="padding-left: 2%; padding-right: 50%">
        <label style=" font-size:15px ; width: 20%;">Accuracy</label>&nbsp;&nbsp;&nbsp;
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style=" font-size:15px ; width: 20%;">Location</label>&nbsp;&nbsp;&nbsp;
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><br>
        <label style=" font-size:15px ; width: 20%;">Communication</label>&nbsp;&nbsp;&nbsp;
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style=" font-size:15px ; width: 20%;">Check-in</label>&nbsp;&nbsp;&nbsp;
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><br>
         <label style=" font-size:15px ; width: 20%;">Cleanliness</label>&nbsp;&nbsp;&nbsp;
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style=" font-size:15px ; width: 20%;">Value</label>&nbsp;&nbsp;&nbsp;
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><br>

    </div>

</div>

{% endblock %}