{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>S2S</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.css' %}">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  	<link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
	<link href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet">


</head>
<body>
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header" style="padding-left: 80%">
					<a class="navbar-brand" href="#">Login</a>
				</div>
				<div>
					<a class="navbar-brand" href="#">Contact</a>
				</div>
			</div>
		</nav>
	</div>
	<div>
	{% block content %}
	{% endblock %}
	</div>

	<div id="footer">
		footer
	</div>
</body>
</html>