{% extends 'public/index.html' %}
{% load staticfiles%}
{% block index %}
<div>
	<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
			<div class="card-header">Picture</div>
		</div>
		<div>
			{{ form.image }}
		</div>
		<button type="submit" class="btn btn-primary btn-lg" style="width: 50%;margin: 10px 25%;">Upload</button>
		<div class="col-sm-13 row">
			{% for pic in pic_list %}
			<div class="col-sm-3">
				<div style="padding-bottom: 100%;position: relative;">
				<img src="{{ pic.photo.url }}" alt="..." class="img-thumbnail" style="height: 100%;position:absolute;">
				</div>
			</div>
			{% endfor %}
		</div>
	</form>
</div>

{% endblock %}