{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div class="form-group" style="margin-left: 20%; margin-right: 20%">
    <form method="post">
        <div class="form-group">
            <label style="font-size: 28px ;color:green">Give Star to the Tenant</label><br><br>
            <div class="form-group row">
                <label class=" col-sm-3 col-form-label">Reputation</label>
                <input class="col-sm-3" type="number" min="0" max="5" class="form-control" id="Reputation" value="0">
            </div>
        </div><br><hr>
         <div>
            <label style="font-size: 28px;color: green;">Add Comment</label><br><br>
            <textarea class="form-control" id="Profile" rows="5"></textarea><br>
            <button type="submit" class="btn btn-danger btn-lg" style="width: 50%;margin: 10px 25%;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}