{% extends 'public/index.html' %}
{% load staticfiles %}
{% block index %}

<div class="container">
	{% for user in lp_list %}
	<div class="row">
		<div class="col-sm">
			<!-- <div style="padding-bottom: 100%;position: relative;"> -->
				<img src="{{ user.photo.url }}" alt="客户头像" class="img-thumbnail" style="height: 100%;position:absolute;">
				<!-- <img src="" alt="..." class="img-thumbnail" style="height: 100%;position:absolute;"> -->
				<!-- <img src="{{ house.picture.photo.url }}" alt="..." class="img-thumbnail" style="height: 100%;position:absolute;"> -->
		</div>
		<div class="col-sm display-house-name">
					{% if user.rate == 0 %}
                    <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                    {% endif %}
                    {% if user.rate == 1 %}
                    <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                    {% endif %}
                    {% if user.rate == 2 %}
                    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                    {% endif %}
                    {% if user.rate == 3 %}
                    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                    {% endif %}
                    {% if user.rate == 4 %}
                    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon>
                    {% endif %}
                    {% if user.rate == 5 %}
                    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                    {% endif %}
		</div>
		<div class="col-sm display-house-name">
				{{ user.name }}
		</div>
		<div class="col-sm">
			<div class="display-housr-date">
				{{ user.period_start }} - {{ user.period_end }}
			</div>
		</div>
		<div class="col-sm">
			<a href="{% url 'landlord:add_comm' user.id %}" class="btn btn-primary btn-mi" role="button" aria-pressed="true">Add Comment</a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}