{% extends 'public/index.html' %}
{% load staticfiles%}
{% block index %}

<div class="container">
	{% for house in houses %}
	<hr>
	<div class="row" >
		<div class="col-sm-2" >
			<div style="padding-bottom: 100%;position: relative;">
				<a href="{% url 'public:view_detail' house.id %}">
					<img src="{{ house.picture.photo.url }}" alt="..." class="img-thumbnail" style="height: 100%;position:absolute;">
				</a>
			</div>
		</div>

		<div class="col-sm-5">
			<div class="display-house-address">
				{{house.address}}
			</div>
			<div class="display-house-name" style="white-space: inherit;">
				{{house.name}}
			</div>
			<div class="display-house-price">
				${{house.price}} per night
			</div>
		</div>
		<div class="col-sm-5">
			<span>
				<a href="{% url 'landlord:edit_house' house.id %}" class="btn btn-primary btn-mi" role="button" aria-pressed="true">Edit Info</a>
			</span>
			<span>
				<a href="{% url 'landlord:add_house_pic' house.id %}" class="btn btn-primary btn-mi" role="button" aria-pressed="true">Edit Pics</a>
			</span>
			<span>
				<a href="{% url 'landlord:history' house.id %}" class="btn btn-primary btn-mi" role="button" aria-pressed="true">History</a>
			</span>
		</div>
	</div>
	{% endfor %}
</div>
<hr>
{% endblock %}
